<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>蓉车宝</title>
    <link rel="stylesheet" type="text/css" href="css/base.css"/>
    <link rel="stylesheet" type="text/css" href="css/home.css"/>
    <link rel="stylesheet" type="text/css" href="city/city.css">
    <script type="text/javascript" src="script/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="script/home_ban.js"></script>
    <script type="text/javascript" src="script/eg_top_search.js"></script>
    <script type="text/javascript" src="script/city.js"></script>
    <script type="text/javascript" src="script/snncar.js"></script>

    <!--引入vue和Axios.js 先导入vue  再导入axios -->
    <script src="plugins/vue/dist/vue.js"></script>
    <script src="plugins/axios/dist/axios.js"></script>
    <script src="script/main.js"></script>

    <script type="text/javascript">
        $(function () {
            $('.navmenu li').hover(function () {
                $('span', this).stop().css('height', '2px');
                $('span', this).animate({
                    left: '0',
                    width: '100%',
                    right: '0'
                }, 200);
            }, function () {
                $('span', this).stop().animate({
                    left: '50%',
                    width: '0'
                }, 200);
            });
        });
    </script>

    <!--导航登陆网页版下拉-->
    <script type="text/javascript">
        $(function () {
            var setTime;
            $(".egc-top .nav-cent .operate").hover(function () {
                var _this = $(this);
                setTime = setTimeout(function () {
                    _this.find(".sec-version").slideDown(200);
                    _this.find("i").removeClass("icon-angle-down").addClass("icon-angle-up");
                }, 200);
            }, function () {
                if (setTime) {
                    clearTimeout(setTime);
                }
                $(".egc-top .nav-cent .sec-version").slideUp(200);
                $(".egc-top .nav-cent .operate i").removeClass("icon-angle-up").addClass("icon-angle-down");
            });
        });
    </script>

    <!--底部信息下拉-->
    <script type="text/javascript">
        $(function () {
            var wind_wd = $(window).width();
            if (wind_wd <= 735) {
                /* $submenu.first().delay(400).slideDown(700);*/
                $('.relate .tit').on('click', function () {
                    $(this).next('.con').slideToggle()
                    $(this).parent().siblings('.items').find('.con').slideUp();
                });
            } else {
                $('.relate .tit').unbind("click");
                $('.relate .con').show();
            }
            $(window).resize(function () {
                var wind_wd = $(window).width();
                if (wind_wd <= 735) {
                    /* $submenu.first().delay(400).slideDown(700);*/
                    $('.relate .tit').on('click', function () {
                        $(this).next('.con').slideToggle()
                        $(this).parent().siblings('.items').find('.con').slideUp();
                    });
                } else {
                    $('.relate .tit').unbind("click");
                    $('.relate .con').show();
                }
            });
        });
    </script>

    <!--搜搜框获取焦点-->
    <script type="text/javascript">
        $(function () {
            $('.sea-ipt-txt').focus(function () {
                $(this).addClass("on");
                $('.search-btn').addClass("on");
            });
            $('.sea-ipt-txt').blur(function () {
                $(this).removeClass("on");
                $('.search-btn').removeClass("on");
            });
        });
    </script>

    <!--下拉导航关闭-->
    <script type="text/javascript">
        $(function () {
            $('.menu-mb i').click(function () {
                $(".navigation-mb-list").slideDown(300);
            });
            $('.navigation-mb-list .list-close-btn').click(function () {
                $(".navigation-mb-list").slideUp(300);
            });
        });
    </script>

    <!--stress搜索关闭-->
    <script type="text/javascript">
        $(function () {
            var setTime;
            $(".sercat .weixin").hover(function () {
                setTime = setTimeout(function () {
                    $(".sercat .wxewm").show();
                }, 300);
            }, function () {
                if (setTime) {
                    clearTimeout(setTime);
                }
                $(".sercat .wxewm").hide();
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            var scroll_heitht = $('body').offset().top;
            var isShow = true;
            $(window).scroll(function () {
                if ($(window).scrollTop() > scroll_heitht && isShow) {
                    $('.stress-search-box').slideDown(200);
                } else {
                    $('.stress-search-box').slideUp(200);
                }
            });
            $('.stress-close a').click(function () {
                isShow = false;
                $('.stress-search-box').slideUp(200).unbind(window, aa);
            });
        });
    </script>

</head>
<body>
<div id="carSearch">

    <div class="egc-top">
        <div class="nav-cent">
            <div class="top-r"><a href="#" id="b-regist">注册</a>|<a href="#" id="b-login" class="b-login">登陆</a></div>
            <div class="top-l">全国统一客服热线：XXX</div>
            <div class="clear_fix"></div>
        </div>
    </div>
    <div class="navigation">
        <div class="nav-cent">
            <div class="logo"><a href="index.html"><img src="images/logo.png" width="200"/></a></div>
            <div class="city"><span id="DY_site_name" class="red city-name Left">上海</span>
                <div id="JS_hide_city_menu_11" class="city-select cut_handdler Left">
                    <a href="javascript:void(0);" class="common-bg selector">切换城市</a>
                    <div id="JS_header_city_bar_box" class="hide_city_group">
                        <div class="hideMap">
                            <div class="showPanel clearfix">
                                <div class="Left mycity">
                                    <div id="JS_current_city_box"> 当前城市：<strong id="JS_city_current_city">合肥</strong>
                                    </div>
                                    <div id="JS_default_city_delete" style="display: none;"></div>
                                </div>
                            </div>
                            <div class="showPanel showPanel2 clearfix">
                                <div class="hot_city" id="JS_header_city_hot"></div>
                                <div class="city_words mt10" id="JS_header_city_char"></div>
                            </div>
                            <div class="scrollBody">
                                <div class="cityMap clearfix">
                                    <table id="JS_header_city_list" class="city_list" style="margin-top: 0px;">
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="scrollBar"><span id="JS_header_city_bar" style="margin-top: 0px;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="common-bg city-logo"></span></div>
            <div class="sea">
                <div class="egc-sea-box">
                    <input type="text" class="sea-ipt-txt" v-model="query.keyword" placeholder="搜索您想要的车"/>
                    <a href="#" class="search-btn" @click="search">搜索</a></div>
            </div>
            <div class="hot-phone"><i></i> <span class="js-change-phone">XXX</span></div>
        </div>
    </div>
    <ul class="navmenu">
        <li><a href="index.html">首页</a><span></span></li>
        <li class="active"><a href="list.html">我要买车</a><span></span></li>
        <li><a href="wymc.html">我要卖车</a><span></span></li>
        <li><a href="#">汽车保险</a><span></span></li>
        <li><a href="#">汽车百科</a><span></span></li>
    </ul>
    <div class="clear_fix"></div>
    <div class="stress-search-box row">
        <div class="stress-close"><a href="javascript:;"></a></div>
        <div class="nav-cents">
            <ul>
                <li class="logo"><a href="index.html"><img src="images/logo.png" width="180"/></a></li>
                <li><a href="index.html">首页</a></li>
                <li><a href="list.html">我要买车</a></li>
                <li><a href="wymc.html">我要卖车</a></li>
                <li><a href="#">阳光联盟</a></li>
                <li><a href="#">我要加盟</a></li>
            </ul>
            <div class="seas">
                <div class="egc-sea-box">
                    <input type="text" class="sea-ipt-txt" placeholder="搜索您想要的车">
                    <a href="#" class="search-btn">搜索</a>
                </div>
            </div>
        </div>
    </div>
    <div class="clear_fix"></div>
    <!--所在位置-->
    <div class="crumbp">
        <a href="index.html">首页</a>
        <em>&gt;</em> <span>车行</span>
    </div>
    <div class="mainbox">
        <!--搜索条件-->
        <div class="comfilter-bd">
            <div class="filterBox">
                <dl class="fliter-bd clearfix">
                    <dt>品牌：</dt>
                    <dd class="clickBrandWidget">
                        <a class="on" href="list.html"> 不限 </a>
                        <a class="" href="#" title="奥迪" @click="searchByBrand(77)"> 奥迪 </a>
                        <a class="" href="#" title="阿斯顿马丁"> 阿斯顿马丁 </a>
                        <a class="" href="#" title="阿尔法罗密欧"> 阿尔法罗密欧 </a>
                        <a class="" href="#" title="奔驰" @click="searchByBrand(75)"> 奔驰 </a>
                        <a class="" href="#" title="宝马" @click="searchByBrand(24)"> 宝马 </a>
                        <a class="" href="#" title="保时捷" @click="searchByBrand(33)"> 保时捷 </a>
                        <a class="" href="#" title="布加迪威龙" @click="searchByBrand(40)"> 布加迪 </a>
                        <a class="" href="#" title="大众"> 大众 </a>
                        <a class="" href="#" title="道奇" @click="searchByBrand(79)"> 道奇 </a>
                        <a class="" href="#" title="丰田"> 丰田 </a>
                        <a class="" href="#" title="福特"> 福特 </a>
                        <a class="" href="#" title="法拉利" @click="searchByBrand(27)"> 法拉利 </a>
                        <a class="" href="#" title="捷豹"> 捷豹 </a>
                        <a class="" href="#" title="科尼赛克"> 科尼赛克 </a>
                        <a class="" href="#" title="雷克萨斯"> 雷克萨斯 </a>
                        <a class="" href="#" title="劳斯莱斯"> 劳斯莱斯 </a>
                        <a class="" href="#" title="兰博基尼" @click="searchByBrand(44)"> 兰博基尼 </a>
                        <a class="" href="#" title="路特斯"> 路特斯 </a>
                        <a class="" href="#" title="玛莎拉蒂" @click="searchByBrand(30)"> 玛莎拉蒂 </a>
                        <a class="" href="#" title="迈凯轮" @click="searchByBrand(38)"> 迈凯轮 </a>
                        <a class="" href="#" title="迈巴赫"> 迈巴赫 </a>
                        <a class="" href="#" title="帕加尼"> 帕加尼 </a>
                        <a class="" href="#" title="日产"> 日产 </a>
                        <a class="" href="#" title="斯巴鲁"> 斯巴鲁 </a>
                        <a class="" href="#" title="特斯拉"> 特斯拉 </a>
                        <a class="" href="#" title="英菲尼迪"> 英菲尼迪 </a>
                        <!--品牌全部-->
                        <span class="brand-all z30"> <em data-role="show">全部<i></i></em>
          <div data-role="otherBrand" class="otherbrand" style="display: none;">
            <div class="o-b-box"><span class="arrow"><s></s></span>
              <ul data-role="letterNav" class="o-b-list">
                <li class="clearfix"> <span>A</span>
                  <div>
                      <a href="#" title="奥迪"> 奥迪 </a>
                      <a href="#" title="阿斯顿马丁"> 阿斯顿马丁 </a>
                      <a href="#" title="阿尔法罗密欧"> 阿尔法罗密欧 </a>
                  </div>
                </li>
                <li class="clearfix"> <span>B</span>
                  <div>
                      <a href="#" title="奔驰"> 奔驰 </a>
                      <a href="#" title="宝马"> 宝马 </a>
                      <a href="#" title="保时捷"> 保时捷 </a>
                      <a href="#" title="布加迪威龙"> 布加迪 </a>
                      <a href="#" title="本田"> 本田 </a>
                      <a href="#" title="比亚迪"> 比亚迪 </a>
                  </div>
                </li>
                <li class="clearfix"> <span>C</span>
                  <div>
                      <a href="#" title="长安"> 长安 </a>
                      <a href="#" title="长城"> 长城 </a>
                      <a href="#" title="传祺"> 传祺 </a>
                  </div>
                </li>
                <li class="clearfix"> <span>D</span>
                  <div>
                      <a href="#" title="道奇"> 道奇 </a>
                      <a href="#" title="大众"> 大众 </a>
                      <a href="#" title="东风"> 东风 </a>
                      <a href="#" title="东南"> 东南 </a>
                      <a href="#" title="DS"> DS </a>
                  </div>
                </li>
                <li class="clearfix"> <span>F</span>
                  <div>
                      <a href="#" title="菲亚特"> 菲亚特 </a>
                      <a href="#" title="丰田"> 丰田 </a>
                      <a href="#" title="福迪"> 福迪 </a>
                      <a href="#" title="福特"> 福特 </a>
                      <a href="#" title="福田"> 福田 </a>
                  </div>
                </li>
                <li class="clearfix"> <span>G</span>
                  <div>
                      <a href="#" title="GMC"> GMC </a>
                      <a href="#" title="广汽吉奥"> 广汽吉奥 </a>
                      <a href="#" title="观致"> 观致 </a>
                  </div>
                </li>
                <li class="clearfix"> <span>H</span>
                  <div>
                      <a href="#" title="哈弗"> 哈弗 </a>
                      <a href="#" title="海马"> 海马 </a>
                      <a href="#" title="红旗"> 红旗 </a>
                      <a href="#" title="黄海"> 黄海 </a>
                      <a href="#" title="华普"> 华普 </a>
                      <a href="#" title="华泰"> 华泰 </a>
                  </div>
                </li>
                <li class="clearfix"> <span>J</span>
                  <div>
                      <a href="#" title="Jeep"> Jeep </a>
                      <a href="#" title="江淮"> 江淮 </a>
                      <a href="#" title="江铃"> 江铃 </a>
                      <a href="#" title="捷豹"> 捷豹 </a>
                      <a href="#" title="吉利"> 吉利 </a>
                      <a href="#" title="金杯"> 金杯 </a>
                      <a href="#" title="九龙"> 九龙 </a>
                  </div>
                </li>
                <li class="clearfix"> <span>K</span>
                  <div>
                      <a href="#" title="凯迪拉克"> 凯迪拉克 </a>
                      <a href="#" title="凯翼"> 凯翼 </a>
                  </div>
                </li>
                <li class="clearfix"> <span>L</span>
                  <div>
                      <a href="#" title="雷克萨斯"> 雷克萨斯 </a>
                      <a href="#" title="雷诺"> 雷诺 </a>
                      <a href="#" title="猎豹"> 猎豹 </a>
                      <a href="#" title="力帆"> 力帆 </a>
                      <a href="#" title="铃木"> 铃木 </a>
                      <a href="#" title="陆风"> 陆风 </a>
                      <a href="#" title="路虎"> 路虎 </a>
                  </div>
                </li>
                <li class="clearfix"> <span>M</span>
                  <div>
                      <a href="#" title="马自达"> 马自达 </a>
                      <a href="#" title="名爵"> 名爵 </a>
                      <a href="#" title="MINI"> MINI </a>
                  </div>
                </li>
                <li class="clearfix"> <span>N</span>
                  <div>
                      <a href="#" title="纳智捷"> 纳智捷 </a>
                  </div>
                </li>
                <li class="clearfix"> <span>O</span>
                  <div>
                      <a href="#" title="欧宝"> 欧宝 </a>
                      <a href="#" title="讴歌"> 讴歌 </a>
                      <a href="#" title="欧朗"> 欧朗 </a>
                  </div>
                </li>
                <li class="clearfix"> <span>Q</span>
                  <div>
                      <a href="#" title="启辰"> 启辰 </a>
                      <a href="#" title="奇瑞"> 奇瑞 </a>
                      <a href="#" title="起亚"> 起亚 </a>
                  </div>
                </li>
                <li class="clearfix"> <span>R</span>
                  <div>
                      <a href="#" title="日产"> 日产 </a>
                      <a href="#" title="荣威"> 荣威 </a>
                      <a href="#" title="瑞麒"> 瑞麒 </a>
                  </div>
                </li>
                <li class="clearfix"> <span>S</span>
                  <div>
                      <a href="#" title="三菱"> 三菱 </a>
                      <a href="#" title="上汽大通"> 上汽大通 </a>
                      <a href="#" title="双龙"> 双龙 </a>
                      <a href="#" title="斯巴鲁"> 斯巴鲁 </a>
                      <a href="#" title="斯柯达"> 斯柯达 </a>
                      <a href="#" title="思铭"> 思铭 </a>
                      <a href="#" title="Smart"> Smart </a>
                  </div>
                </li>
                <li class="clearfix"> <span>W</span>
                  <div>
                      <a href="#" title="威旺"> 威旺 </a>
                      <a href="#" title="沃尔沃"> 沃尔沃 </a>
                      <a href="#" title="五菱"> 五菱 </a>
                  </div>
                </li>
                <li class="clearfix"> <span>X</span>
                  <div>
                      <a href="#" title="夏利"> 夏利 </a>
                      <a href="#" title="现代"> 现代 </a>
                      <a href="#" title="雪佛兰"> 雪佛兰 </a>
                      <a href="#" title="雪铁龙"> 雪铁龙 </a>
                  </div>
                </li>
                <li class="clearfix"> <span>Y</span>
                  <div>
                      <a href="#" title="英菲尼迪"> 英菲尼迪 </a>
                      <a href="#" title="一汽"> 一汽 </a>
                      <a href="#" title="依维柯"> 依维柯 </a>
                      <a href="#" title="永源"> 永源 </a>
                  </div>
                </li>
                <li class="clearfix"> <span>Z</span>
                  <div>
                      <a href="#" title="中华"> 中华 </a>
                      <a href="#" title="众泰"> 众泰 </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          </span>
                        <!--品牌全部-->
                    </dd>
                </dl>
                <dl class="fliter-bd clearfix">
                    <dt>车系：</dt>
                    <dd class="clickTagWidget">
                        <a class="on" href="list.html"> 不限 </a>
                        <a class="" href="#" title="奥迪R8" @click="searchByBrand(77)"> R8 </a>
                        <a class="" href="#" title="AMG GT R"> AMG GT R </a>
                        <a class="" href="#" title="M8"> M8 </a>
                        <a class="" href="#" title="GT3RS"> GT3RS </a>
                        <a class="" href="#" title="GT4RS"> GT4RS </a>
                        <a class="" href="#" title="帕拉梅拉"> 帕拉梅拉 </a>
                        <a class="" href="#" title="地狱猫"> 地狱猫 </a>
                        <a class="" href="#" title="AE86"> AE86 </a>
                        <a class="" href="#" title="野马GT500"> 野马GT500 </a>
                        <a class="" href="#" title="SF90"> SF90 </a>
                        <a class="" href="#" title="MX-5"> MX-5 </a>
                        <a class="" href="#" title="科尼赛克CCXR"> 科尼赛克CCXR </a>
                        <a class="" href="#" title="第六元素"> 第六元素 </a>
                        <a class="" href="#" title="EMIRA"> EMIRA </a>
                        <a class="" href="#" title="MC20"> MC20 </a>
                        <a class="" href="#" title="720S"> 720S </a>
                        <a class="" href="#" title="GTR R35"> GTR R35 </a>
                        <a class="" href="#" title="BRZ"> BRZ </a>
                    </dd>
                </dl>
                <dl class="fliter-bd clearfix">
                    <dt>价格：</dt>
                    <dd><a class="on" href="#" @click="searchByPrice(0,100000)">不限</a>
                        <a class="" href="#" title="3万以下二手车" @click="searchByPrice(0,3)"> 3万以下 </a>
                        <a class="" href="#" title="5万以下二手车" @click="searchByPrice(3,5)"> 3-5万 </a>
                        <a class="" href="#" title="7万以下二手车" @click="searchByPrice(5,7)"> 5-7万 </a>
                        <a class="" href="#" title="9万以下二手车" @click="searchByPrice(7,9)"> 7-9万 </a>
                        <a class="" href="#" title="12万以下二手车" @click="searchByPrice(9,12)"> 9-12万 </a>
                        <a class="" href="#" title="16万以下二手车" @click="searchByPrice(12,16)"> 12-16万 </a>
                        <a class="" href="#" title="20万以下二手车" @click="searchByPrice(16,20)"> 16-20万 </a>
                        <a class="" href="#" title="20万以上二手车" @click="searchByPrice(20,100000)"> 20万以上 </a>
                        <span class="input-box clearfix rangeFilter">
          <label>
            <input type="text" value="" v-model="min" data-default-value="0" size="6" class="js-begin" maxlength="3" id="my_price_b" name="b">
          </label>
          <label><i class="input-line">～</i></label>
          <label>
            <input type="text" value="" v-model="max" data-default-value="999" size="6" class="js-end" maxlength="3" id="my_price_e" name="e">
          </label>
          <label class="input-unit">万</label>
          <label><a gjalog="" href="#" class="input-btn js-btn" @click="searchByPrice(min,max)">筛选</a></label>
          </span></dd>
                </dl>
                <dl class="fliter-bd clearfix">
                    <dt>车龄：</dt>
                    <dd><a data-role="filterItemAge" data-value="" class="on" href="#" @click="searchByCarAge(10000,0)"> 不限 </a>
                        <a class="" href="#" title="5年以上二手车" @click="searchByCarAge(5,1)"> 5年以上 </a>
                        <a class="" href="#" title="5年内二手车" @click="searchByCarAge(5,0)"> 5年内 </a>
                        <a class="" href="#" title="3年内二手车" @click="searchByCarAge(3,0)"> 3年内 </a>
                        <a class="" href="#" title="1年以内二手车" @click="searchByCarAge(1,0)"> 1年以内 </a>
                    </dd>
                </dl>
                <div class="moreitem clearfix">
                    <span>更多：</span>
                    <dl class="selecter">
                        <dt>车型</dt>
                        <dd>
                            <ul>
                                <li><a href="javascript:void(0);">不限</a></li>
                                <li><a href="javascript:void(0);"> 两厢轿车 </a></li>
                                <li><a href="javascript:void(0);"> 三厢轿车 </a></li>
                                <li><a href="javascript:void(0);"> 跑车 </a></li>
                                <li><a href="javascript:void(0);"> SUV </a></li>
                                <li><a href="javascript:void(0);"> MPV </a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="selecter">
                        <dt>座位</dt>
                        <dd>
                            <ul>
                                <li><a href="javascript:void(0);">不限</a></li>
                                <li><a href="javascript:void(0);"> 2座 </a></li>
                                <li><a href="javascript:void(0);"> 4座 </a></li>
                                <li><a href="javascript:void(0);"> 5座 </a></li>
                                <li><a href="javascript:void(0);"> 6座 </a></li>
                                <li><a href="javascript:void(0);"> 7座及以上 </a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="selecter">
                        <dt>行驶里程</dt>
                        <dd>
                            <ul>
                                <li><a href="javascript:void(0);">不限</a></li>
                                <li><a href="javascript:void(0);"> 1万公里内 </a></li>
                                <li><a href="javascript:void(0);"> 3万公里内 </a></li>
                                <li><a href="javascript:void(0);"> 5万公里内 </a></li>
                                <li><a href="javascript:void(0);"> 5万公里以上 </a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="selecter">
                        <dt>变速箱</dt>
                        <dd>
                            <ul>
                                <li><a href="javascript:void(0);">不限</a></li>
                                <li><a href="javascript:void(0);"> 手动 </a></li>
                                <li><a href="javascript:void(0);"> 自动 </a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="selecter">
                        <dt>排量</dt>
                        <dd>
                            <ul>
                                <li><a href="javascript:void(0);">不限</a></li>
                                <li><a href="javascript:void(0);"> 1.0L以下 </a></li>
                                <li><a href="javascript:void(0);"> 1.0-1.6L </a></li>
                                <li><a href="javascript:void(0);"> 1.6-2.0L </a></li>
                                <li><a href="javascript:void(0);"> 2.0-3.0L </a></li>
                                <li><a href="javascript:void(0);"> 3.0L以上 </a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="selecter">
                        <dt>排放标准</dt>
                        <dd>
                            <ul>
                                <li><a href="javascript:void(0);">不限</a></li>
                                <li><a href="javascript:void(0);"> 国二及以上 </a></li>
                                <li><a href="javascript:void(0);"> 国三及以上 </a></li>
                                <li><a href="javascript:void(0);"> 国四及以上 </a></li>
                                <li><a href="javascript:void(0);"> 国五 </a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="selecter">
                        <dt>燃油类型</dt>
                        <dd>
                            <ul>
                                <li><a href="javascript:void(0);">不限</a></li>
                                <li><a href="javascript:void(0);"> 汽油 </a></li>
                                <li><a href="javascript:void(0);"> 柴油 </a></li>
                                <li><a href="javascript:void(0);"> 电动 </a></li>
                                <li><a href="javascript:void(0);"> 油电混合 </a></li>
                                <li><a href="javascript:void(0);"> 其他 </a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="selecter">
                        <dt>颜色</dt>
                        <dd>
                            <ul>
                                <li><a href="javascript:void(0);">不限</a></li>
                                <li><a href="javascript:void(0);"> <i class="c-lump03"></i>黑色 </a></li>
                                <li><a href="javascript:void(0);"> <i class="c-lump04"></i>白色 </a></li>
                                <li><a href="javascript:void(0);"> <i class="c-lump10"></i>银灰色 </a></li>
                                <li><a href="javascript:void(0);"> <i class="c-lump09"></i>红色 </a></li>
                                <li><a href="javascript:void(0);"> <i class="c-lump15"></i>深灰色 </a></li>
                                <li><a href="javascript:void(0);"> <i class="c-lump11"></i>橙色 </a></li>
                                <li><a href="javascript:void(0);"> <i class="c-lump02"></i>绿色 </a></li>
                                <li><a href="javascript:void(0);"> <i class="c-lump05"></i>蓝色 </a></li>
                                <li><a href="javascript:void(0);"> <i class="c-lump06"></i>咖啡色 </a></li>
                                <li><a href="javascript:void(0);"> <i class="c-lump07"></i>紫色 </a></li>
                                <li><a href="javascript:void(0);"> <i class="c-lump08"></i>香槟色 </a></li>
                                <li><a href="javascript:void(0);"> <i class="c-lump12"></i>多彩色 </a></li>
                                <li><a href="javascript:void(0);"> <i class="c-lump13"></i>黄色 </a></li>
                                <li><a href="javascript:void(0);"> <i class="c-lump14"></i>其它 </a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="selecter">
                        <dt>国别</dt>
                        <dd>
                            <ul>
                                <li><a href="javascript:void(0);">不限</a></li>
                                <li><a href="javascript:void(0);"> 德系 </a></li>
                                <li><a href="javascript:void(0);"> 日系 </a></li>
                                <li><a href="javascript:void(0);"> 美系 </a></li>
                                <li><a href="javascript:void(0);"> 法系 </a></li>
                                <li><a href="javascript:void(0);"> 韩系 </a></li>
                                <li><a href="javascript:void(0);"> 国产 </a></li>
                                <li><a href="javascript:void(0);"> 其他 </a></li>
                            </ul>
                        </dd>
                    </dl>
                </div>

            </div>
            <div class="sel-menu clearfix">
                <p class="sel-p">当前筛选&gt;</p>
                <a href="#" class="sel-a">法拉利</a> <a href="#" class="sel-reset">重置</a>
                <p class="sel-p">共为您找到 <b>{{pageInfo.total}}</b> 辆好车</p>
            </div>
        </div>
        <div class="seqBox clearfix">
            <p class="fr seqtype">共找到<b>{{pageInfo.total}}</b> 辆 </p>
            <ul class="sequen">
                <li class="first"><a href="#" @click="searchBySort($event)"> 默认排序 </a></li>
                <li><a href="#" title="" @click="searchBySort($event)" sort-field="onsaletime" sort-type="asc">
                    最新发布 </a></li>
                <li><a href="#" title="" @click="searchBySort($event)" sort-field="costprice" sort-type="asc"> 价格 <i
                        class="up"></i> </a></li>
                <li><a href="#" title="" @click="searchBySort($event)" sort-field="reigstertime" sort-type="asc"> 车龄 <i
                        class="up"></i> </a></li>
                <li><a href="#" title="" @click="searchBySort($event)" sort-field="mileage" sort-type="asc"> 里程 <i
                        class="up"></i> </a></li>
            </ul>
            <ul id="checkArea" class="screen-input tagTypesFilterNew">
                <li>
                    <input type="checkbox" id="chaozhi" v-model="query.costeffective" @change="search">
                    <label for="chaozhi">超值</label>
                </li>
                <li>
                    <input type="checkbox" id="jishou" v-model="query.rushsale" @change="search">
                    <label for="jishou">急售</label>
                </li>
                <li>
                    <input type="checkbox" id="zhunxinche" v-model="query.quasinewcar" @change="search">
                    <label for="zhunxinche">准新车</label>
                </li>
                <li>
                    <input type="checkbox" id="keqianquanguo" v-model="query.transitivecountry" @change="search">
                    <label for="keqianquanguo">可迁全国</label>
                </li>
            </ul>
        </div>

        <ul class="carList">
            <li v-for="car in pageInfo.rows">
                <div class="list-infoBox">
                    <a :title="car.title" target="_blank" class="imgtype" href="infor.html">
                        <img :src="car.cover" :alt="car.title" width="290" height="194"/>
                    </a>
                    <p class="infoBox">
                        <a :title="car.title" href="infor.html" target="_blank" class="info-title">
                            {{car.title}}
                        </a>
                    </p>
                    <p class="fc-gray">
                        <span class="tag-gray">{{car.shopAddress}}</span>
                        <span class="">{{car.reigstertime}}上牌</span>
                        <em class="shuxian">|</em>
                        里程数{{car.mileage}}公里
                    </p>
                    <p class="priType-s">
                        <span> <i class="fc-org priType"> {{car.costprice / 10000}}万 </i> </span>
                        <s>{{car.saleprice / 10000}}万</s>
                    </p>
                </div>
            </li>
        </ul>

    </div>
    <div class="pages">
        <span v-for="page in pageInfo.totalPage">
            <a v-if="page == query.currentPage" class="on" @click="changePageCount(page)">{{page}}</a>
            <a v-else href="30/p/1.html" @click="changePageCount(page)">{{page}}</a>
        </span>
        <!--        <a class="on" href="30/p/1.html">1</a>-->
        <!--        <a class="" href="30/p/2.html">2</a>-->
        <!--        <a class="" href="30/p/3.html">3</a>-->
        <!--        <a class="" href="30/p/4.html">4</a>-->
        <!--        <a class="" href="30/p/5.html">5</a>-->
        <!--        <a href="30/p/2.html">&gt;&gt;</a>-->
        <!--        <a href="30/p/6.html">6</a>-->
    </div>
    <div class="clear_fix"></div>

    <!--底部-->
    <div class="ftWrap">
        <div class="foot">
            <div class="cent">
                <div class="relate">
                    <div class="items">
                        <div class="tit"><i class="icon-angle-right"></i>交易帮助</div>
                        <div class="con">
                            <a href="#">买车帮助</a>
                            <a href="#">卖车帮助</a>
                            <a href="#">过户帮助</a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="tit"><i class="icon-angle-right"></i>客服中心</div>
                        <div class="con">
                            <a href="abut.html">网站合作</a>
                            <a href="about.html">关于我们</a>
                            <a href="contact.html">联系我们</a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="tit"><i class="icon-angle-right"></i>购车指南</div>
                        <div class="con">
                            <a href="#">购车帮助</a>
                        </div>
                    </div>
                    <div class="app-section"><img class="js-delayed-img" src="images/f_wx.jpg">
                        <div class="title">扫码关注微信</div>
                        <p> 随时随地，秒杀好车<br/>
                            优质个人二手车 </p>
                    </div>
                    <div class="items last">
                        <div class="tel">
                            <h1>XXX</h1>
                            <p>周一至周日 8:00-18:00</p>
                            <p>免费咨询(咨询、建议、投诉)</p>
                            <a href="#" class="kf"><i class="kf-icon"></i>在线客服</a></div>
                        <div class="tel-mb">
                            <p><span>XXX</span>周一至周日 8:00-18:00(仅收市话费)</p>
                            <a href="#" class="kf"><i class="kf-icon"></i>在线客服</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="cent"> Copyright © 2020,All Rights Reserved 皖ICP备XXX号-1</div>
        </div>
    </div>
    <script type="text/javascript" src="script/3c-menu.js"></script>
    <script type="text/javascript" src="script/lg_reg.js"></script>

    <!--会员登录和注册弹出框开始-->
    <div id="popBox">
        <div class="popCont"><a class="p_closed">关闭</a>
            <div class="p-tab"><a>会员登录<i></i></a><a>会员注册<i></i></a></div>
            <div class="p-detail">
                <div class="p-dl">
                    <form onsubmit="return check();" enctype="multipart/form-data" method="post" name="form" id="form">
                        <ul class="login-items">
                            <li>
                                <label>用户名(手机号)</label>
                                <input class="input" type="text" value="" maxlength="32" name="username"
                                       placeholder="请输入您的手机号">
                            </li>
                            <li>
                                <label>密码</label>
                                <input class="input" type="password" value="" maxlength="16" name="password">
                            </li>
                        </ul>
                        <div class="login-check">
                            <input type="checkbox" name="checkbox" style=" width:auto;"/>
                            <label>记住我</label>
                            <a href="Meet/editPass">忘记登录密码？</a></div>
                        <div class="login-button">
                            <input type="hidden" value="" name="carid" class="ordercarid"/>
                            <input type="hidden" value="" name="carstatus" class="orderstatus"/>
                            <input type="button" value="登&nbsp;&nbsp;&nbsp;&nbsp;陆" class="fM"
                                   onclick="$('#form').submit()"/>
                        </div>
                    </form>
                </div>
                <div class="p-dl">
                    <form class="registForm" onsubmit="return regcheck();" enctype="multipart/form-data" method="post"
                          name="reg" id="reg">
                        <ul class="login-items">
                            <li class="clearfix">
                                <input class="input" name="mobile" id="mobile" type="text" value=""
                                       placeholder="手机号码（登录帐号）">
                            </li>
                            <li class="clearfix">
                                <input class="input left" type="text" value="" name="verify" placeholder="输入验证码"
                                       style="width:100px;"/>
                                <div id="send"><a href="#" class="send_code right">获取验证码</a></div>
                            </li>
                            <li class="clearfix">
                                <input class="input" type="text" value="" name="realname" placeholder="姓名">
                            </li>
                            <li class="clearfix sex">
                                <input type="radio" checked="" name="gender" value="M"/>
                                男&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="gender" value="F"/>
                                女
                            </li>
                            <li class="clearfix">
                                <input id="" class="input" type="password" name="password" value=""
                                       placeholder="输入密码（六位字符）">
                            </li>
                        </ul>
                        <div class="login-button">
                            <input type="hidden" value="" name="carid" class="ordercarid"/>
                            <input type="hidden" value="" name="carstatus" class="orderstatus"/>
                            <input type="button" value="立即注册" class="fM" onclick="$('#reg').submit()"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--会员登录和注册弹出框结束-->
    <script>
        $(function () {
            var t = null, $this, i = 0;
            //品牌
            $(".brand-all").bind({
                mouseenter: function () {
                    $(this).find(".otherbrand").show();
                },
                mouseleave: function () {
                    $(this).find(".otherbrand").hide();
                }
            });

        });
    </script>
    <script type="text/javascript">
        $(".hoverWidget").each(function () {
            $(this).mouseenter(function () {
                $(this).addClass("active")
            }).mouseleave(function () {
                $(this).removeClass("active")
            })
        });
    </script>
    <div id="leftsead">
        <ul>
            <li>
                <a id="top_btn">
                    <img src="images/foot03/ll06.png" width="47" height="49" class="hides"/>
                    <img src="images/foot03/l06.png" width="47" height="49" class="shows"/>
                </a>
            </li>

            <li>
                <a href="">
                    <img src="images/foot03/ll03.png" width="47" height="49" class="hides"/>
                    <img src="images/foot03/l03.png" width="47" height="49" class="shows"/>
                </a>
            </li>

            <li>
                <a href="">
                    <img src="images/foot03/ll02.png" width="166" height="49" class="hides"/>
                    <img src="images/foot03/l04.png" width="47" height="49" class="shows"/>
                </a>
            </li>

            <li>
                <a class="youhui">
                    <img src="images/foot03/l02.png" width="47" height="49" class="shows"/>
                    <img src="images/foot03/zfew.jpg" width="196" height="205" class="hides" usemap="#taklhtml"/>
                </a>
            </li>


        </ul>
    </div><!--leftsead end-->

</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#leftsead a").hover(function () {
            if ($(this).prop("className") == "youhui") {
                $(this).children("img.hides").show();
            } else {
                $(this).children("img.hides").show();
                $(this).children("img.shows").hide();
                $(this).children("img.hides").animate({marginRight: '0px'}, 'slow');
            }
        }, function () {
            if ($(this).prop("className") == "youhui") {
                $(this).children("img.hides").hide('slow');
            } else {
                $(this).children("img.hides").animate({marginRight: '-143px'}, 'slow', function () {
                    $(this).hide();
                    $(this).next("img.shows").show();
                });
            }
        });

        $("#top_btn").click(function () {
            if (scroll == "off") return;
            $("html,body").animate({scrollTop: 0}, 600);
        });

    });
</script>

<script type="text/javascript">
    $(function () {
        $(".selecter").each(function () {
            var s = $(this);
            var z = parseInt(s.css("z-index"));
            var dt = $(this).children("dt");
            var dd = $(this).children("dd");
            var _show = function () {
                dd.slideDown(200);
                dt.addClass("cur");
                s.css("z-index", z + 1);
            };   //展开效果
            var _hide = function () {
                dd.slideUp(200);
                dt.removeClass("cur");
                s.css("z-index", z);
            };    //关闭效果
            dt.click(function () {
                dd.is(":hidden") ? _show() : _hide();
            });
            dd.find("a").click(function () {
                dt.html($(this).html());
                _hide();
            });     //选择效果（如需要传值，可自定义参数，在此处返回对应的“value”值 ）
            $("body").click(function (i) {
                !$(i.target).parents(".selecter").first().is(s) ? _hide() : "";
            });
        })
    })
</script>

<script type="text/javascript">
    new Vue({
        el: "#carSearch",

        data: {
            query: {
                currentPage: 1,
                pageSize: 24,
                keyword: "",
                typeId: null,
                minPrice: null,
                maxPrice: null,
                carAge: null,
                carAgeType: null,
                costeffective: null,
                rushsale: null,
                quasinewcar: null,
                transitivecountry: null,
                sortField: "",
                sortType: ""
            },
            pageInfo: {
                rows: [],
                total: 0,
                totalPage: 0
            },
            min: null,
            max: null
        },

        methods: {

            //品牌筛选条件
            searchByBrand(typeId){
              this.query.typeId = typeId;
                this.query.currentPage = 1;
                this.getCarSearch();
            },

            //车龄筛选条件
            searchByCarAge(carAge,carAgeType){
                this.query.carAge = carAge;
                this.query.carAgeType = carAgeType;
                this.query.currentPage = 1;
                console.log(this.query);
                this.getCarSearch();
            },

            //通过排序字段进行排序
            searchBySort(event) {
                //获取排序字段
                this.query.sortField = $(event.currentTarget).attr("sort-field");
                //获取排序类型
                let sortType = $(event.currentTarget).attr("sort-type");
                //每次点击换排序类型
                if (sortType == "asc") {
                    $(event.currentTarget).attr("sort-type", "desc");
                } else {
                    $(event.currentTarget).attr("sort-type", "asc");
                }
                this.query.sortType = sortType;
                this.query.currentPage = 1;
                this.getCarSearch();
            },

            //价格筛选条件
            searchByPrice(minPrice, maxPrice) {
                this.query.minPrice = minPrice * 10000;
                this.query.maxPrice = maxPrice * 10000;
                this.query.currentPage = 1;
                this.getCarSearch();
            },

            //搜索
            search() {
                console.log(this.query);
                //从第一页开始查
                this.query.currentPage = 1;
                //是否超值
                if (this.query.costeffective == true) {
                    this.query.costeffective = 1;
                } else {
                    this.query.costeffective = null;
                }
                //是否急售
                if (this.query.rushsale == true) {
                    this.query.rushsale = 1;
                } else {
                    this.query.rushsale = null;
                }
                //是否准新车
                if (this.query.quasinewcar == true) {
                    this.query.quasinewcar = 1;
                } else {
                    this.query.quasinewcar = null;
                }
                //是否可迁全国
                if (this.query.transitivecountry == true) {
                    this.query.transitivecountry = 1;
                } else {
                    this.query.transitivecountry = null;
                }
                this.getCarSearch();
            },

            //改变页码
            changePageCount(page) {
                this.query.currentPage = page;
                this.getCarSearch();
            },

            //获取车辆信息
            getCarSearch() {
                this.$http.post("/carSearch", this.query)
                    .then(result => {
                        result = result.data;
                        if (result.success) {
                            this.pageInfo = result.resultObj;
                            //计算总页数
                            this.pageInfo.totalPage = Math.ceil(this.pageInfo.total / this.query.pageSize);
                        } else {

                        }
                    }).catch(result => {

                })
            }
        },

        mounted() {
            //获取url上的参数
            var url = location.href;
            var param = url.split("?")[1];
            if (param){
                var params = param.split("&");
                for (i = 0; i < params.length; i++){
                    var para = params[i];
                    var key = para.split("=")[0];
                    var value = para.split("=")[1];
                    this.query[key] = value;
                }
            }
            this.getCarSearch();
        }

    })
</script>

</body>
</html>